<!-- views/employees/deleteEmployee.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Employee Deleted</title>
</head>
<body>
  <h1>Deleted Employee</h1>
  <h2>{{employee.firstName}} {{employee.lastName}} has been removed.</h2>

  <p>Department: {{employee.department}}</p>
  <p>Start Date: {{formatAsDate employee.startDate 'YYYY-MM-DD'}}</p>
  <p>Job Title: {{employee.jobTitle}}</p>
  <p>Salary: {{employee.salary}}</p>

  <br>
  <a href="/employeeList">Back to All Employees</a>
</body>
</html>
